html, body, div, canvas {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.gradientBG {
  width: 100%;
  height: 100vh;
}

#quote-box {
  position: fixed;
  width: 60%;
  padding: 24px 28px 24px 28px;
  min-height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#copy {
  margin-right: 4px;
}

